-# set initial comments list
- comments = commentable.root_comments.page(1)
.comments-count
  - if comments.empty?
    %strong Comments
  - else
    %strong= "#{comments.count} Comments"

%div{id: "comments_for_#{commentable.class.name.downcase}_#{commentable.id}"}
  #comments_wrapper
    #comment_form
      = render 'comments/form', commentable: commentable #, comment: comment

    #comments_pagination
      = render 'comments/pager', commentable: commentable, comments: comments
        
    #comments
      - if comments.empty?
        %i.hide-me-on-comment Be the first to comment.
      - else
        .page
          = render comments.reverse

