- commentable ||= nil
- comment ||= Comment.new(commentable: commentable, member: @current_member)
- if can? :create, comment  
  - parent ||= nil
  - form_name = (parent) ? "comment_form_#{parent.id}" : "comment_form_new"
  = form_for comment, html: {:remote => true, :name => form_name, :class => ""} do |f|
    #js_errors
      = render 'comments/errors', obj: comment
              
    = f.hidden_field :commentable_id
    = f.hidden_field :commentable_type
    = f.hidden_field :member_id
    
    - if parent
      = hidden_field_tag :parent_comment_id, parent.id
    .reply-form-columns
      .comment-left-column
        .comment-thumb
          = member_thumb(comment.member)
      .comment-right-column
        = f.text_area :body, {:class => 'form-control reply-input expanding', :placeholder=>'Thoughts?'}

    -#.clearfix.ten-top.ten-bottom
    -#  = f.submit "Comment", {class: "btn btn-blue pull-right"}
    
  :javascript
    $(document).on("shown.bs.modal", function(){
      $("textarea").expanding();
    });
    
