$("#comments_for_<%=@commentable.class.name.downcase%>_<%=@commentable.id%> #comments").prepend('<div class="page"><%= j render @comments.reverse %></div>');
$('#comments_for_<%=@commentable.class.name.downcase%>_<%=@commentable.id%> #comments_pagination').html("<%= j render partial: 'comments/pager', locals: {commentable: @commentable, comments: @comments} %>");
$('#comments_for_<%=@commentable.class.name.downcase%>_<%=@commentable.id%> #loading-msg').text("");
